 @import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Darumadrop+One&family=Foldit:wght@100&family=Lobster&display=swap');

*{
    margin:0;
    padding:0;
}
html{
    62.5%;
    overflow-x:hidden;
    color:#fff;
     font-family: 'Playfair Display', serif;
}
body{
    overflow-x:hidden;
   background-image:linear-gradient(brown 5%,black); 
   background-repeat: no-repeat;
    font-family: 'Playfair Display', serif;
    height:100vh;
}
.icon{
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top:2rem;
}
.fa.fa-angle-down{
    color: white;
    font-size:5rem;
    position:relative;
  }
  marquee{
      font-size:3rem;
  position:relative;
      color: white;
      top:3rem;
  }
  p{
      font-size:3rem;
      font-weight: bold;
      color: yellow;
      margin-top: 5rem;
      padding-left: 3rem;
     
  }
  .img1{
      position: relative;
      display:flex;
      text-align: center;
      justify-content: center;
      background-color:#ff3300;
      top:3rem;
      width:45rem;
      height:45rem;
      left:8rem;
      border-top-right-radius:10rem;
border-bottom-left-radius:10rem;
      border-bottom-right-radius:2rem;
      border-top-left-radius:2rem;
      box-shadow: -.8rem -.8rem 1.5rem rgba(255,100,100,.8);
  }
  .fa.fa-music{
    font-size:30rem;
    position: relative;
    top: 3rem;
    right: 3rem;
     }
     .music{
         position:relative;
         display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        top:10rem;
        width:30rem;
      height:10rem;
      background-color: blak;
      left:13rem;
      opacity: 0;
      
      }
    .music1 input{
        margin-top:2rem;
        width:50rem;
        height: 1rem;
        margin-left: 3rem;
      
    }
    .mcontrol{
        -webkit-appearance: none;
        background-color:red;
        border-radius: .4rem;
         }
.mcontrol::-webkit-slider-thumb{
    -webkit-appearance: none;
    width:4rem;
    height: 4rem;
    background-color:orange;
    border-radius: 50rem;
   }
   .down{
       position:relative;
       display:flex;
       top:15rem;
       text-align: center;
       justify-content: space-around;
       font-size: 6rem;
   }
   .fa.fa-play{
       font-size:5rem;
       color:white;
       position:relative;
       top:1rem;
       left:.6rem;
   }
     .fa.fa-pause{
         font-size:4rem;
         color: white;
         position: relative;
         top:.4rem;
         left: .1rem;
         
     }
   .down div{
       background-color:red;
       width:10rem;
       height:10rem;
       border-radius: 50%;
      
   }
   .fa.fa-heart{
       position:relative;
      top:7rem;
      font-size:4rem;
      left:27rem;
      height: 0;
      width:0;
      bottom: 0;
   }
   .fa.fa-heart:hover{
       color:red;
   }
   @media(max-width:998px){
      html{
          font-size: 100%;
      }
   }
     @media(max-width:480px){
      html{
          font-size:37%;
      }
      marquee{
         font-size:4rem;
         
      }
   }